{% extends 'browse.html' %}

{% block browsing %}
<script src="https://unpkg.com/lovefield@2.1.12/dist/lovefield.min.js"></script>
<script src="/lovefield.js"></script>
<input type="hidden" name="past" value="{{ past }}">


<div id="timezone-table" style="padding: 10px 4px 0px 4px;">
  Times in {{ user.show_timezone("browse") }}
</div>

<table id="browse-talks" class="talk-table ntdata">
  <thead>
    {% if past %}
    <tr> {{ talks_header(include_content=True, include_subscribe=False) | safe }} </tr>
    {% else %}
    <tr> {{ talks_header()  | safe }} </tr>
    {% endif %}
  </thead>
  <tbody>

  </tbody>
</table>

{% endblock %}
